* {
   margin: 0;
   padding: 0;
}
h2 {
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
   text-transform: uppercase;
   background-color: darkgrey;
}
.almostSquareBlock {
   margin-left: auto;
   margin-right: auto;
   height: 100px;
   width: 300px;
   border-top: 10px dashed red;
   border-right: 10px groove green;
   border-bottom: 10px double orange;
   border-left: 10px dotted blue;
   border-radius: 15px;
}
.almostSquareBlock:hover {
   transition: all 3s ease;
   border-top: 10px dotted blue;
   border-right: 10px dashed red;
   border-bottom: 10px groove green;
   border-left: 10px double orange;
   border-radius: 50%;
}
.styleForLinks {
   text-align: center;
   line-height: 50px;
   font-size: 30px;
}
/*link 1, чисто вложенность классов*/
div.styleForLinks > div > p > a {
   background-color: darkcyan;
   color: rgb(128, 12, 12);
}
/*link 2, ближайшая вложенная ссылка к абзацу c id neighbour*/
p#neighbour > a {
   background-color: cornflowerblue;
   color: rgb(12, 212, 129);
}
/*link 3, соседний p c ближайшим вложенным div в div с классом styleForLinks*/
div.styleForLinks > div ~ p > a {
   background-color: brown;
   color: rgb(0, 247, 255);
}
/*link 4, ближайшая соседняя ссылка к элементу с id text*/
div.styleForLinks > p + a {
   background-color: blanchedalmond;
   color: rgb(43, 14, 168);
}
.blocks {
   text-align: center;
}
.col1,
.col2 {
   display: inline-block;
}
.block {
   background-color: aqua;
   margin: 0px 10px 10px 10px;
   border: 5px solid rgb(43, 54, 202);
   height: 100px;
   width: 300px;
   opacity: 0.5;
}

.pseudo1:hover {
   transition: all 0.3s ease;
   border: 5px dashed blueviolet;
   background-color: rgb(75, 16, 87);
   border-radius: 10px;
   opacity: 1;
}
.pseudo2:active {
   transition: all 0.3s ease;
   border: 5px double blueviolet;
   background-color: rgb(75, 16, 87);
   opacity: 1;
}
.pseudo3:hover {
   transition: all 0.3s ease;
   border: 4px dotted rgb(226, 86, 43);
   background-color: rgb(226, 223, 11);
   border-radius: 50%;
   opacity: 1;
}
.pseudo4:active {
   transform: rotate(-180deg);
   transition: all 1s ease;
   border: 5px solid rgb(3, 247, 36);
   background-color: rgb(18, 77, 6);
   opacity: 1;
}
.difSelectors {
   text-align: center;
   line-height: 60px;
   color: black;
   font-size: 40px;
}
a[href^="https"] {
   color: red;
}
.boxesWithDotts {
   display: block;
}
.boxWithDot,
.boxWithoutDot {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
   font-size: 20px;
   font-weight: bold;
   color: blueviolet;
   position: relative;
   height: 100px;
   width: 200px;
   border: 3px solid blueviolet;
   display: flex;
   justify-content: center;
}
.boxWithDot::after {
   content: "●";
   position: absolute;
   top: 110%;
}
